@model BaseViewModel;

@using RatStore.Logic;

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<div>
    @if (Model.Cart.OrderDetails.Count == 0)
    {
        <p>Cart is empty!</p>
    }
    else
    {
        foreach (OrderDetails orderDetails in Model.Cart.OrderDetails)
        {
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @orderDetails.Product.Name
                </dt>
                <dd class="col-sm-10">
                    @orderDetails.Quantity.ToString()
                </dd>
                <dd class="col-sm-10">
                    @Html.ActionLink("Remove", "RemoveItem", new { id = orderDetails.Product.ProductId })
                </dd>
            </dl>
        }
        @Html.ActionLink("Submit Order", "SubmitOrder")
    }
</div>
<div>
    <a asp-action="Index">Back to Home</a>
</div>
