@model IBaseViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your local Rat Store!</h1>

    @if (Model.LoggedIn)
    {
        <p>Your store is at @Model.CurrentLocation.Address.</p>
    }
    else
    {
        <p>You must log in to place an order.</p>
    }
</div>
